.navbar {
    background-color: #ffffff; 
    padding: 20px;
    margin-left: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #000000; 
    font-size: 30px;
    font-weight: bold;
    margin-right: auto;
}

.paw-icon {
    margin-right: 15px;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    flex-grow: 1;
}

.nav-links li {
    margin-left: 20px;
    font-weight: 400;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    transition: color 0.3s;
    padding: 20px 30px;
    position: relative;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: #e55a2c; /* Cor do sublinhado */
    transition: width 0.3s ease-in-out;
    width: 100%; /* Sublinhado ocupa 100% do link ativo */
}

